# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

# Compiled Java Files
*.class

# Soot Output
sootOutput/

# Logs
*.log

# IDE - VSCode
.vscode/

# OS Files
.DS_Store
Thumbs.db

# Temporary Files
*.swp
*.swo
*~
